@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Your Name</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<footer style="text-align: center; margin-top: 20px; color: gray;">
    © 2025 Sebastian Tipan Lab 1. All rights reserved.
</footer>